<div class="container">
  <p class="h3 p-3">{{ recetaDetail.nombre }}</p>
  <div class="row">
    <div class="col-6">

        <img
          class="img-fluid"
          src="{{ recetaDetail.imagen }}"
          alt="{{ recetaDetail.nombre }}"
        />
        <p>Estrellas {{ recetaDetail.estrellas }} | Cantidad opiniones: {{ recetaDetail.cantidadOpiniones }}</p>
    </div>
    <div class="col-6">
      <dl>
        <dt>Descripción</dt>
        <dd>{{ recetaDetail.descripcion }}</dd>

        <dt>Ingredientes</dt>
        <dd>{{ recetaDetail.ingredientes }}</dd>

        <dt>Autor de la receta</dt>
        <dd>{{ recetaDetail.autorReceta }}</dd>

        <dt>Mas info</dt>
        <dd>
          Dificultad: {{ recetaDetail.dificultad }} | Duración:
          {{ recetaDetail.duracion }}
        </dd>

        <dd>Categoría: {{ recetaDetail.categoria }}</dd>
      </dl>
    </div>
  </div>
</div>
